<h1 *ngIf="product">Modifier le produit "{{product.name}}"</h1>
<div *ngIf="product">
    <form [formGroup]="updateForm" (ngSubmit)="update()">
        <div>
            <label >Le nom du produit : </label>
            <input type="text" formControlName="name">
        </div>
        <div>
            <label>La description du produit : </label>
            <input type="text" formControlName="description">
        </div>
        <div>
            <label>Le prix du produit : </label>
            <input type="number" formControlName="price">
        </div>
        
        <div>
            <span>Ses catégories : </span>
            <div *ngFor="let category of categories">
                <label *ngIf="checked(category.name)">
                    <input type="checkbox" value="{{category.name}}"  checked>
                {{category.name}}
                </label>
                <label *ngIf="noChecked">
                    <input type="checkbox" value="{{category.name}}" (change)="saveModificationsCheckbox($event)">
                {{category.name}}
                </label>
            </div>
        </div>
        <button type="submit">modifier</button>
        <a routerLink="/product"><button>annuler</button></a>
    </form>
</div>