<section>
    <div *ngIf="products">
        <div *ngFor="let product of products">
            <span (click)="getOneProduct(product)">
                {{product.name}}
            </span>
            <a routerLink="/update-product/{{product._id}}"><button>modifier</button></a>
            <button (click)="delete(product)">supprimer</button>
        </div>
    </div>
    <div *ngIf="product && displayDetail">
        <div>
            <span>Nom du produit : </span>
            {{product.name}}
        </div>
        <div>
            <span>Description du produit : </span>
            {{product.description}}
        </div>
        <div>
            <span>Prix du produit : </span>
            {{product.price}}
        </div>
        <button (click)="reduce()">réduire</button>
    </div>
</section>

<div>
    <h2 (click)="askAddForm()">ajouter un produit</h2>
    <div *ngIf="addForm && displayAdd">
        <form [formGroup]="addForm" (ngSubmit)="addProduct()">
            <div>
                <label >Le nom du produit : </label>
                <input type="text" formControlName="name">
            </div>
            <div>
                <label>La description du produit : </label>
                <input type="text" formControlName="description">
            </div>
            <div>
                <label>Le prix du produit : </label>
                <input type="number" formControlName="price">
            </div>
            <button type="submit">ajouter</button>
            <button (click)="reduceAdd()">annuler</button>
        </form>
    </div>
</div>