#divNav {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
nav {
    margin-right: 10%;
}
a {
    text-decoration: none;
    color: black;
}
#divCurrent {
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: justify;
    margin-bottom: 5%;
}
.currentClass {
    height: 24%;
    border: 1px solid rgb(180, 169, 169);
    line-height: 200%;
    padding: 5px;
}
.response {
    font-weight: bold;
}
#divImg {
    overflow: hidden;
    text-align: center;
    width: 30%;
    height: 30vh;
}
#divImg > img {
    height: 100%;
}
#hourlySection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hourlyDiv {
    background-color: rgb(226, 226, 246);
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    margin: 5px;
    min-width: 15%;
}
.hourlyDiv > div {
    border: 1px solid rgb(180, 178, 178);
}
.hourlyImg {
    width: 90%;
    margin: auto;
    padding-top: 5%;
}
.hour {
    font-weight: bold;
}
#sectionDaily {
    display: flex;
    justify-content: space-around;
}
.divDaily {
    max-width: 10%;
    font-size: 0.8em;
    background-color: rgb(226, 226, 246);
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
}
.divDaily > div {
    border: 1px solid rgb(180, 178, 178);
}
.days {
    font-weight: bold;
}
.imgDaily {
    width: 80%;
    margin: auto;
    padding: 3px;
}



