#search {
    margin-bottom: 3%;
}
#divImg {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    text-align: center;
}
#divImg > img {
    height: 100%;
}
article {
    display: flex;
    margin-top: 10%;
}
section {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 20%;
    border: 1px solid rgb(199, 190, 190);
    margin: 10px;
    box-shadow: 2px 2px 3px rgb(39, 38, 38);
}
section > div {
    border: 1px solid rgb(170, 162, 162);
}
section > div > img {
    width: 90%;
    margin: auto;
    padding-top: 5%;
}

