#retour {
    margin: 2% auto;
    text-align: justify;
}
#retour > button {
    margin-left: 2%;
    font-weight: bold;
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
    transition-duration: 1s;
}
#retour > button:hover {
    box-shadow: none;
    color: red;
    background-color: rgba(152, 236, 152, 0.3);
}
#carte {
    width: 70%;
    margin: 5% auto;
    border: 1px solid rgb(226, 219, 219);
    background-color: rgba(252, 237, 210, 0.5);
    border-radius: 8px;
}
section {
    display: flex;
    align-items: center;
    margin: 2%;
}
#titre {
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    height: 300px;
}
#name {
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    background-color: rgba(233, 225, 225,0.2);
}
#ingredients {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgba(214, 214, 253, 0.3);
    padding: 5%;
    border-radius: 10px;
}
#recetteDiv {
    margin: 5% auto;
    width: 90%;
    background-color: rgba(121, 250, 121, 0.3);
    border-radius: 10px;
    padding: 2%;
}
.titles {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration-line: underline;
    margin-bottom: 5%;
}
#recette {
    width: 70%;
    margin: auto;
}
p {
    text-align: justify;
}