body {
    text-align: center;
    background-color: rgb(49, 42, 42);
}
nav {
    margin-bottom: 5%;
    margin-left: 30%;
    color: white;
}
nav a {
    text-decoration: none;
    color: white;
    border: 3px solid rgb(105, 184, 105);
}
main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    max-height: 400px;
}
section {
    background-color: white;
}
#article {
    min-width: 40%;
}
#image {
    max-width: 25%;
    max-height: 25%;
}
#comments {
    max-width: 30%;
}
#commentaires {
    max-height: 50vh;
    min-width: 50vh;
    overflow: scroll;
}
h2 {
    color: rgb(7, 90, 7);
    background-color: rgb(142, 245, 142);
    margin-top: 0%;
}
#addComment {
    color: white;
}
.avatar {
    max-width: 50px;
    max-height: 50px;
}