<h1>La liste des formats de livres</h1>

<div *ngIf="formats" class="listes">
    <div class="listeDiv">
        <div *ngFor="let format of formats" class="liste">
            <a routerLink="/oneFormat/{{format.id}}" class="links">{{format.name}}</a>
            <button (click)="delete(format.id)" class="corbeilles"><img src="/assets/icones/delete.svg" alt="corbeille"></button>
        </div>
    </div>
    <div class="add">
        <h2>Ajouter un nouveau format : </h2>
        <form [formGroup]="checkoutForm" (ngSubmit)=addFormat(checkoutForm.value) class="formulaires">
            <div>
                <label>Le nom du format : </label>
                <input formControlName="name" type="text">
            </div>
            <div>
                <label>La largeur du format : </label>
                <input formControlName="width" type="number">
            </div>
            <div>
                <label>La hauteur du format : </label>
                <input formControlName="height" type="number">
            </div>
            <div>
                <label>L'orientation du format : </label>
                <select formControlName="landscape">
                    <option value=0>portrait</option>
                    <option value=1>paysage</option>
                </select>
            </div>
            <button type="submit">ajouter</button>
        </form>
    </div>
</div>

