@font-face {
    font-family: Beautiful ES;
    src: url('../police/Beautiful ES.ttf') format('truetype');
}
header, footer {
    background-color: rgb(12, 12, 105);
    color: white;
}
h1 {
    font-family: Beautiful ES, Arial;
    font-size: 400%;
}
.nom {
    padding-left: 5%;
    margin-bottom: 0%;
    padding-bottom: 1%;
}
.prenom {
    padding-left: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 1px;
}
.metier {
    padding-left: 15%;
    margin-top: none;
}

header a {
    background-color: rgb(127, 127, 202);
    color: white;
    text-decoration: none;
    text-align: center;
} 
body {
    background-color: rgb(196, 186, 186);
}
section {
    display: flex;
    font-size: 115%;
} 
#atouts {
    margin-left: 20%;
}
#langues_divers {
    margin-left: 20%;
}
h2 {
    text-align: center;
    color: red;
}
p {
    text-align: center;
}

#liens_themes {
    display: flex;
    padding-left: 50%;
}
#liens_themes p{
    border: 1px solid black; 
}
footer ul {
    display: flex;
}
footer li {
    list-style-type: none;
    padding-left: 10%;
    padding-right: 10%;
}
footer a {
    color: white;
    text-decoration: none;
}
@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    animation-duration: 2s;
  }  