body {
    background: linear-gradient(rgb(165, 165, 13),rgb(248, 248, 126));
}
header {
    background-color: rgb(37, 32, 32);
}
.titre {
    text-align: center;
}
@font-face {
    font-family: HenryMorganHand;
    src: url('police/HenryMorganHand.ttf') format('truetype');
}
h1 {
    font-family: HenryMorganHand;
    font-size: 400%;
    color: white;
    margin-bottom: 1%;
}
h2 {
    text-align: center;
}
.liens {
    margin-left: 60%;
}
.liens a {
    text-decoration: none;
    color:white;
    border: 1px solid white;
}
#genres {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#viennoiseries, #pains_blancs, #pains_rustiques {
    margin: 5% 5% 5% 5%;
}
#monde_composes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#pains_du_monde {
    margin: 5% 5% 5% 20%;
}
#pains_composes {
    margin: 5% 20% 5% 5%;
}

