<section>
    <div id="add">
        <div class="add" (click)="afficheForm()">
            <span>Ajouter un auteur</span>
        </div>
        <div *ngIf="accesFormulaireAdd">
            <form [formGroup]="formAdd" (ngSubmit)="createAuthor()">
                <div>
                    <span>Prénom : </span>
                    <input type="text" formControlName="firstName">
                </div>
                <div>
                    <span>Nom : </span>
                    <input type="text" formControlName="lastName">
                </div>
                <div>
                    <span>Nationalité : </span>
                    <input type="text" formControlName="nationality">
                </div>
                <div>
                    <span>Date de naissance : </span>
                    <input type="date" formControlName="dob">
                </div>
                <div>
                    <span>Date de décès : </span>
                    <input type="date" formControlName="dod">
                </div>
                <button type="submit">ajouter</button>
                <button (click)="changeAccesFormulaireAdd()">Annuler</button>              
            </form>
        </div>
    </div>

    <div *ngIf="accesDetail && oneAuthor">
        <div>
            Prénom : {{oneAuthor.firstName}}
        </div>
        <div>
            Nom : {{oneAuthor.lastName}}
        </div>
        <div>
            Nationalité : {{oneAuthor.nationality}}
        </div>
        <div>
            Date de naissance : {{oneAuthor.dob | date:'dd/MM/yyyy':'fr-FR'}}
        </div>
        <div *ngIf="oneAuthor.dead">
            Date de décès : {{oneAuthor.dod | date:'dd/MM/yyyy':'fr-FR'}}
        </div>
        <span *ngIf="oneAuthor.books">
            <span *ngFor="let book of oneAuthor.books">book</span>
        </span>
        <button (click)="reduceAuthor()">réduire</button>
    </div>

    <div *ngIf="accesListe">
        <div *ngFor="let author of authors" >
            <span class="names" (click)="selectAuthor(author)">{{author.firstName}} {{author.lastName}}</span>
            <button routerLink="/update-author/{{author.id}}">modifier</button><button (click)="delete(author)">supprimer</button>
        </div>
    </div>
</section>