<!--
pour un héro -->
<!-- <h2>{{hero.name | uppercase}}</h2> --> <!--comme twig-->
<!-- <div><span>id: </span>{{hero.id}}</div> -->

<h2>Les héros</h2>

<div>
    <label>New Hero Name : 
        <input #heroName type="text">
    </label>
    <button (click)="addHero(heroName.value); heroName.value=''">add</button>
</div>

<ul>
    <!-- on fait une boucle for (forEach) 
    *ngFor est le nom pour appeler une boucle for pour angular -->
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{ hero.id }}</span>
            <span>{{ hero.name }}</span>
        </a>
        
    </li>
</ul>

