body {
    background-color: black;
}
header {
    padding-bottom: 10%;
}
h1 {
    text-align: center;
    color: white;
}
header a {
    padding-left: 70%;
    color: white;
    text-decoration: none;
    margin-top: 10%;
}
#baguettes, #paillasses {
    display: flex;
    margin-top: 10%;
    margin-bottom: 5%;    
}
#baguettes_image, #paillasses_image {
    margin-left: 10%;
    max-height: 300px;
    min-width: 300px;
    background-color: white;
    border: 2px solid white;
    text-align: center;
}
#baguettes_texte, #paillasses_texte {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    max-height: 300px;
    max-width: 40%;
    overflow: hidden;
}
#baguettes_texte:hover, #paillasses_texte:hover {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    max-height: 100%;
}
h2 {
    text-align: center;
}
.trait_blanc_haut {
    height: 10px;
    background-color: white;
    color: white;
    margin-top: 5%;
}
#laissez {
    text-align: center;
    color: white;
}
.trait_blanc_bas {
    height: 10px;
    background-color: white;
    margin-bottom: 5%;
}
h3 {
    text-align: center;
}
#formes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    animation-duration: 2s;
  }