body {
    text-align: center;
}
main {
    display: flex;
}
#gauche {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-top: 1px solid rgb(218, 215, 215);
}
#photo {
    background-image: url('image/photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}
#keypad {
    margin: 20%;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 20vh;
    border: 1px solid black;
    align-items: center;
    background-color: rgb(179, 164, 164);
}
.allKeys {
    border: 1px solid black;
    border-radius: 10%;
    margin: 2px;
    width: 15%;
    height: 40%;
    font-size: 2.5em;
    background: radial-gradient(rgb(240, 238, 238) 20%, rgb(182, 176, 176));
    box-shadow: 2px 2px 3px black;
    transition-duration: 0.5s;
}
.allKeys:hover {
    box-shadow: none;
    background: rgb(226, 221, 221);
}
#code {
    width: 80%;
    margin: auto;
    font-size: 2em;
    border-bottom: 2px solid rgb(223, 205, 205);
}