
#tete {
    margin: auto;
    width: 80%;
    min-height: 40vh;
    background-image: url(".././assets/images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
h1 {
    margin-bottom: 5%;
    font-size: 4em;
    vertical-align: middle;
    line-height: 300%;
}
a {
    text-decoration: none;
    color: rgb(32, 31, 31);
}